@import '../../../styles/styles.scss';

.form-control{
    background-color: $cold-white;
    color: $dark-green;

    &:focus{
        border: 0.2rem solid $dark-green;
        color: $base-green;
    }
}

.signup{
    background-color: $dark-green;
}

.cancel{
    background-color: $black;
    border: 1px solid $dark-green;
    color: $dark-green
}