@import '../../node_modules/bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/') format('ttf');
    font-weight: 700;
    font-style: normal;
}


$roboto-font: "Roboto", sans-serif;
$montserrat-font:  "Montserrat", sans-serif;

$dark-green: #208D45;
$base-green: #5CAD4A;
$cold-white: #F0F2EB;
$black: #0D0D0D;
$light-black: #1f1d1d;


body{
    background-color: $black !important;
    color: $dark-green !important;
}