<section class="container-fluid mt-5">
    <div class="row align-items-center">
        <div class="col-8">
            <h1>E-morty</h1>
            <h2>Your Rick and Morty Wiki</h2>
            <p> 
                E-Morty is a wiki based in three main subjects that you can search for more informations.
                The first main subject is the Characters, in which the user has the possibility to search for a specific 
                character. With that you can know the name, species, if the searched person is alive, which species it belongs, gender and 
                many other features about it.
            </p>
            <p>
                The second it is based in Location. This category provides the name, type,
                    dimension and residents of the searched place.</p>
            <p>
                And the last one is the Episode category, that will provide for you infos 
                like name, air data, the characters in it.
                Wubba Lubba Dub Dub! And have a good time with this catalog.
            </p>
        </div>
        <img src="assets/rick-and-morty-30969.png" class="img-fluid col-4" alt="Rick and morty homepage image">
    </div>
</section>