@import "../../../styles/styles.scss";

.character-list{
    height: 80vh;
    overflow-y: auto;
}

.card{
    background-color: $light-black;
    color: $dark-green;
    border: 0.15rem solid $dark-green;
}

.btn{
    background-color: $dark-green;

    &:hover{
        border: 0.1rem solid $dark-green;
    }
}

@media screen and (max-width: 600px) {
    .character-list{
      max-height: 90vh;
    }
}