<div class="container">
    <div #characterList class="character-list" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" [scrollWindow]="false" (scrolled)="onScroll()">
        <div *ngFor="let character of characters">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col">
                        <img [src]="character.image" class="img-fluid rounded-start" alt="{{ character.name }}">
                    </div>
                    <div class="col">
                        <div class="card-body p-5">
                            <h5 class="card-title">{{character.name}}</h5>
                            <div class="d-flex">
                                <p class="fw-bold me-2">Status: </p>
                                <p class="card-text">{{character.status}}.</p>
                            </div>
                            <div class="d-flex">
                                <p class="fw-bold me-2">Species: </p>
                                <p class="card-text">{{character.species}}.</p>
                            </div>
                            <button class="btn mt-4">View {{character.name}}</button>
                        </div>
                    </div>
                </div>
            </div>      
        </div>

        <div *ngIf="loading" class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>